section{
  display: block;
}

div{
  display: block;
}

#home{
  position: relative;
  height: 100%;
  min-height: 934px;
  background-image: url(../images/grayscale-photo-of-volcano-997443.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-table{
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-top: 20px;
  z-index: 5;
}

.text-center{
  text-align: center;
}

.portfolio-img img{
  margin: 160px auto 0px auto;
  border: solid 3px #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.52);
}

img{
  /*display: block;*/
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#home h1{
  color: #ffffff;
  margin-top: 1%;
  font-weight: bold;
}

#home h3{
  color: #ffffff;
}