body{
	font-size: large;
}

section{
  display: block;
}

div{
  display: block;
}
.nav-wrapper {
	width: 100%;
	padding: 6px 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 20;
}
.nav-wrapper .navbar-toggle .icon-bar {
	background-color: #fff;
}
.nav-wrapper .navbar {
  position: relative;
  min-height: 50px;
}
.nav-wrapper .navbar-brand {
	display: block;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 30px;
	font-weight: 700;
	color: #ddd;
	float: left;
}

.nav-wrapper .nav li a {
	position: relative;
	font-size: 15px;
	font-weight: 700;
	color: #ddd;
}
.nav-wrapper .nav li a:after {
	content: "";
	display: none;
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 6px;
	left: 10%;
	background-color: #ddd;
	-webkit-transition: all .28s ease-in-out;
	-o-transition: all .28s ease-in-out;
	-moz-transition: all .28s ease-in-out;
	transition: all .28s ease-in-out;
}
.nav-wrapper .nav>li>a:hover,
.nav-wrapper .nav>li>a.active {
	background-color: transparent;
}
.nav-wrapper .nav>li>a:hover:after,
.nav-wrapper .nav>li>a.active:after {
	width: 80%;
}
.nav-wrapper .nav>li>a:focus {
	background-color: transparent;
}
.nav-sticky {
	background-color: #fff !important;
	padding: 6px 0 !important;
	border-bottom: 1px solid #f0f0f0;
}
.nav-sticky .navbar-toggle .icon-bar {
	background-color: #232323;
}
.nav-sticky .navbar-brand,
.nav-sticky .nav li a {
	color: #232323;
}
.nav-sticky .nav li a:after {
	background-color: #3f3f3f;
}
.nav-sticky .navbar-collapse {
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
}


#home{
  position: relative;
  height: 100%;
  min-height: 1010px;
  background-image: url(../images/grayscale-photo-of-volcano-997443.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.home-1 {
	position: relative;
	height: 100%;
	min-height: 550px;
	background-image: url(../images/grayscale-photo-of-volcano-997443.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}
.home-1:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 0;
}

.page-table{
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-top: 20px;
  z-index: 5;
}

.text-center{
  text-align: center;
}

.portfolio-img img{
  margin: 160px auto 0px auto;
  border: solid 3px #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.52);
}

img{
  /*display: block;*/
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#home h1{
  color: #ffffff;
  margin-top: 1%;
  font-weight: bold;
}

#home h3{
  color: #ffffff;
}

#about > div > div.section-title > h1{
	text-align: center;
	margin-top: 3%;
	font-weight: bolder;
}

#about-section{
	margin-top: 5%;
}

.about-content h2 {
	margin-bottom: 30px;
	text-transform: capitalize;
	margin-right: 20%;
	font-weight: bold;
}
.about-content p {
	margin-bottom: 16px;
	margin-right: 20%;
}
.about-content ul li {
	margin-top: 8px;
	font-size: 14px;
	color: #666;
}
.about-content ul li span {
	font-weight: 700;
	color: #232323;
}
.about-content ul li span i {
	margin-right: 4px;
}

.btn {
	background-color: #fafafa;
	color: black;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
	margin-top: 10%;
	margin-left: 20%;
	border: 2px solid black;
	border-radius: 7%;
  }
  
  .btn:hover {
	color:#fafafa ;
	background-color:black;
	border: 2px solid #fafafa;
  }

.skills-section {
	padding: 20px 0;
	padding-left: 10px;
	padding-right: 10px;
}
.progress-bar-linear {
    padding-top: 20px;
    padding-bottom: 20px;
}
.progress-bar-text {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: 700;
}
.progress-cont {
    display: inline-block;
    float: right;
    margin-right: 10px;
}
.progress-bar-linear .progress-bar-skills {
    position: relative;
    width: 100%;
    background-color: #dfdfdf;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.progress-bar-skills .progress-bar-line {
    position: relative;
    width: 5%;
    height: 6px;
    background-color: #4f4f4f;
    -webkit-transition: all 1.6s ease-out;
    -o-transition: all 1.6s ease-out;
    -moz-transition: all 1.6s ease-out;
    transition: all 1.6s ease-out;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#contact{
	background-color: #fafafa;
}

#contact > div > div.section-title > h1{
	text-align: center;
	font-weight: bolder;
}

.social-list {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 43%;
}
.social-list li {
	display: inline-block;
	margin: 4px;
}
.social-list li a {
	display: inline-block;
	font-size: 16px;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 36px;
	color: #232323;
	border: 1px solid #888;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.social-list li:hover a {
	color: #fafafa;
	background-color: #232323;
	border-color: transparent;
}

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #000000;
}
.footer-title {
	display: inline-block;
	margin-bottom: 6px;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}
.footer .copy-text {
    margin: 8px 0;
    font-size: 15px;
	text-transform: capitalize;
	color: #ffffff;
}

@media screen and (min-width: 768px) {

	.nav-wrapper {
	    padding: 20px 0;
	}
	.nav-sticky .navbar-collapse {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.nav-wrapper .nav li a:after {
		display: block;
	}

	.avatar-hero img {
		width: 170px;
	}
	#home h1 {
		font-size: 50px;
	}
	#home .typer-title {
		font-size: 26px;
	}

	/* .home-slider-btn {
	    display: block;
	    opacity: 0;
	}
	.home-carousel:hover .home-slider-btn {
	    opacity: .8;
	}
	.home-carousel:hover .owl-next.disabled .home-slider-btn,
	.home-carousel:hover .owl-prev.disabled .home-slider-btn {
		opacity: .4;
	} */
}

@media (min-width: 992px) {

	.skills-section {
		padding-left: 20px;
	}

}

@media screen and (min-width: 400px){

	#home{
		position: relative;
		height: 100%;
		min-height: 1010px;
		background-image: url(../images/grayscale-photo-of-volcano-997443.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	  }

	.social-list {
		margin-top: 20px;
		margin-bottom: 20px;
		padding-left: 30%;
	}
	.about-content h2 {
		margin-bottom: 30px;
		text-transform: capitalize;
		margin-right: 20%;
		font-weight: bold;
		padding-left: 5%;
	}

	.about-content p {
		margin-bottom: 16px;
		margin-right: 5%;
		padding-left: 5%;
	}

	.btn {
		background-color: #fafafa;
		color: black;
		padding: 12px 30px;
		cursor: pointer;
		font-size: 20px;
		margin-top: 10%;
		margin-left: 32%;
		border: 2px solid black;
		border-radius: 7%;
	  }

}
